/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */ }

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* general width of all the website*/
.general-width {
  width: 80%;
  margin: auto; }

body {
  font-family: 'Oswald', sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

/* ------- Form buttons ------ */
.hide {
  display: none !important; }

/* ------- END Form buttons ------ */
header {
  position: fixed;
  width: 100%;
  background-color: rgba(92, 184, 92, 0.6);
  padding: 20px;
  margin-bottom: 80px; }
  header nav {
    display: inline-block;
    float: right; }
    header nav a:hover {
      color: #337AB7;
      text-decoration: underline; }
    header nav a:active {
      color: #f0ad4e;
      text-decoration: underline; }

.links-nav {
  font-size: 1.7em;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  line-height: 1.7;
  color: black; }

.title-div {
  display: inline-block; }

#invisibleDiv {
  height: 280px; }

#welcome {
  padding: 20px;
  font-size: 2.6em;
  color: white;
  background-color: rgba(51, 122, 183, 0.5); }

#small-sentence {
  padding: 75px 150px;
  font-size: 1.5em;
  text-align: center; }

#small-section {
  background-color: rgba(92, 184, 92, 0.4);
  height: 180px; }

.h2-title-calculator {
  padding-top: 10px;
  text-align: center;
  font-size: 1.6em; }

#adjust-padding-top {
  padding-top: 260px; }

#box-calculator {
  font-size: 1.1em;
  padding: 40px 15px 20px 15px;
  margin: auto;
  width: 680px;
  background: rgba(243, 248, 185, 0.5); }

.centerTexts {
  text-align: center; }

#result {
  padding: 20px;
  font-size: 1.2em; }
  #result.hide-text {
    color: rgba(92, 184, 92, 0); }

footer {
  height: 50px;
  background-color: rgba(92, 184, 92, 0.6);
  font-size: 0.9em;
  padding-top: 20px; }

/*------------ BUTTONS STYLE ------------*/
.button {
  margin-top: 15px;
  text-decoration: none;
  text-align: center;
  padding: 11px 18px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 11px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #feffe5;
  background-color: #ec612a;
  background-image: -moz-linear-gradient(top, #ec612a 0%, #c47e23 100%);
  background-image: -webkit-linear-gradient(top, #ec612a 0%, #c47e23 100%);
  background-image: -o-linear-gradient(top, #ec612a 0%, #c47e23 100%);
  background-image: -ms-linear-gradient(top, #ec612a 0%, #c47e23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9da9ad', endColorstr='#9da9ad',GradientType=0 );
  background-image: linear-gradient(top, #ec612a 0%, #c47e23 100%);
  -webkit-box-shadow: -3px 2px 6px #bababa;
  -moz-box-shadow: -3px 2px 6px #bababa;
  box-shadow: -3px 2px 6px #bababa; }

.button:hover {
  margin-top: 15px;
  padding: 11px 18px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 11px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #feffe5;
  background-color: #ec612a;
  background-image: -moz-linear-gradient(top, #ec612a 0%, #c47e23 100%);
  background-image: -webkit-linear-gradient(top, #ec612a 0%, #c47e23 100%);
  background-image: -o-linear-gradient(top, #ec612a 0%, #c47e23 100%);
  background-image: -ms-linear-gradient(top, #ec612a 0%, #c47e23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9da9ad', endColorstr='#9da9ad',GradientType=0 );
  background-image: linear-gradient(top, #ec612a 0%, #c47e23 100%);
  -webkit-box-shadow: 0px 0px 6px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 6px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 6px #bababa, inset 0px 0px 1px #ffffff; }

#background1 {
  background: url(../img/houses.jpg) no-repeat center top;
  width: 100%;
  height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#background2 {
  background: url(../img/background-maths.jpg) no-repeat center top;
  width: 100%;
  height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* -------------- MEDIA QUERIES IMAGES BACKGROUND -----------------*/
/*iphone6, 6plus and others big screen landscape*/
@media screen and (max-width: 730px) {
  #background1 {
    background: url(../img/houses-small.jpg) no-repeat center top;
    width: 100%;
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  #background2 {
    background: url(../img/maths-small.jpg) no-repeat center top;
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/*iphone4 and iphone5 lanscape*/
@media screen and (max-width: 580px) {
  #background1 {
    background: url(../img/houses-small.jpg) no-repeat center top;
    width: 100%;
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  #background2 {
    background: url(../img/maths-small.jpg) no-repeat center top;
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/*iphone6, 6plus and others big screen smarthphones portrait*/
@media screen and (max-width: 430px) {
  #background1 {
    background: url(../img/houses-small.jpg) no-repeat center top;
    width: 100%;
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  #background2 {
    background: url(../img/maths-small.jpg) no-repeat center top;
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/*iphone4 samsS4 googNex4 and others portrait*/
@media screen and (max-width: 390px) {
  #background1 {
    background: url(../img/houses-small.jpg) no-repeat center top;
    width: 100%;
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  #background2 {
    background: url(../img/maths-small.jpg) no-repeat center top;
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/* ----------- END MEDIA QUERIES IMAGES BACKGROUND --------------*/
/* -------------- MEDIA QUERIES -----------------*/
@media screen and (max-width: 768px) {
  .general-width {
    width: 90%; }
  h1 {
    font-size: 2.5em; }
  h2 {
    font-size: 1.5em; }
  .h2-title-calculator {
    padding-top: 10px;
    font-size: 1.5em; }
  .links-nav {
    font-size: 1.4em;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.8; }
  #invisibleDiv {
    height: 250px; }
  #welcome {
    padding: 15px;
    font-size: 2em; }
  #small-section {
    font-size: 0.8em;
    height: 150px; }
  #small-sentence {
    padding: 50px 110px;
    font-size: 1.3em; }
  #adjust-padding-top {
    padding-top: 220px; } }

/*iphone6, 6plus and others big screen landscape*/
@media screen and (max-width: 730px) {
  h1 {
    font-size: 1.7em; }
  h2 {
    font-size: 1em; }
  .h2-title-calculator {
    padding-top: 10px;
    font-size: 1.2em; }
  .links-nav {
    font-size: 1.1em;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.6; }
  #invisibleDiv {
    height: 130px; }
  #welcome {
    padding: 15px;
    font-size: 1.3em; }
  #small-section {
    font-size: 0.7em;
    height: 80px; }
  #small-sentence {
    padding: 28px 70px;
    font-size: 1.4em; }
  #adjust-padding-top {
    padding-top: 90px; }
  #box-calculator {
    font-size: 0.8em;
    padding: 6px;
    width: 560px; }
  footer {
    height: 30px;
    font-size: 0.6em;
    padding-top: 9px; } }

/*iphone4 and iphone5 lanscape*/
@media screen and (max-width: 580px) {
  .general-width {
    width: 95%; }
  h1 {
    font-size: 1.7em; }
  h2 {
    font-size: 1em; }
  .h2-title-calculator {
    padding-top: 10px;
    font-size: 1.2em; }
  .links-nav {
    font-size: 1.1em;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.6; }
  #invisibleDiv {
    height: 120px; }
  #welcome {
    padding: 15px;
    font-size: 1.2em; }
  #small-section {
    font-size: 0.6em;
    height: 80px; }
  #small-sentence {
    padding: 24px 40px;
    font-size: 1.3em; }
  #adjust-padding-top {
    padding-top: 80px; }
  #box-calculator {
    font-size: 0.7em;
    padding: 5px;
    width: 460px; } }

@media screen and (max-width: 480px) {
  .button {
    font-size: 9px;
    margin-top: 5px; }
    .button:hover {
      font-size: 9px;
      margin-top: 5px; } }

/*iphone6, 6plus and others big screen smarthphones portrait*/
@media screen and (max-width: 430px) {
  h1 {
    font-size: 1.4em; }
  h2 {
    font-size: 1em; }
  .h2-title-calculator {
    padding-top: 10px;
    font-size: 1.4em; }
  .links-nav {
    font-size: 0.9em;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.6;
    float: left; }
  #welcome {
    padding: 15px;
    font-size: 1.1em; }
  #small-section {
    font-size: 0.6em;
    height: 80px; }
  #box-calculator {
    font-size: 0.5em;
    padding: 3px;
    width: 380px; }
  #adjust-padding-top {
    padding-top: 40px; } }

/*iphone4 samsS4 googNex4 and others portrait*/
@media screen and (max-width: 390px) {
  .general-width {
    width: 98%;
    margin: auto; }
  h1 {
    font-size: 1.2em; }
  h2 {
    font-size: 0.8em; }
  .h2-title-calculator {
    padding-top: 7px;
    font-size: 1.1em; }
  .links-nav {
    font-size: 0.8em;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.8; }
  #invisibleDiv {
    height: 100px; }
  #welcome {
    padding: 15px;
    font-size: 1.2em; }
  #small-section {
    font-size: 0.6em;
    height: 80px; }
  #small-sentence {
    padding: 24px 40px;
    font-size: 1.3em; }
  #adjust-padding-top {
    padding-top: 80px; }
  #box-calculator {
    font-size: 0.6em;
    padding: 5px;
    width: 300px; } }

/* ----------- END MEDIA QUERIES --------------*/
