@import 'modules/colors';

header {
  position: fixed;
  width: 100%;
  background-color: rgba($light-green, 0.6);
  padding: 20px;
  margin-bottom: 80px;
  nav {
    display: inline-block;
    float: right;
    a {
      &:hover {
        color: #337AB7;
        text-decoration: underline;
    }
      &:active {
        color: #f0ad4e;
        text-decoration: underline;
      }
    }
  }
}

.links-nav {
  font-size: 1.7em;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  line-height: 1.7;
  color: black;
}

.title-div {
  display: inline-block;
}