/* -------------- MEDIA QUERIES -----------------*/

@media screen and (max-width: 768px) {
  .general-width {
    width: 90%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  .h2-title-calculator {
    padding-top: 10px;
    font-size: 1.5em;
  }
  .links-nav {
    font-size: 1.4em;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.8;
  }
  #invisibleDiv {
    height: 250px;
  }
  #welcome {
    padding: 15px;
    font-size: 2em;
  }
  #small-section {
    font-size: 0.8em;
    height: 150px;
  }
  #small-sentence {
    padding: 50px 110px;
    font-size: 1.3em;
  }
  #adjust-padding-top {
    padding-top: 220px;
  }
}

/*iphone6, 6plus and others big screen landscape*/

@media screen and (max-width: 730px) {
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1em;
  }
  .h2-title-calculator {
    padding-top: 10px;
    font-size: 1.2em;
  }
  .links-nav {
    font-size: 1.1em;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.6;
  }
  #invisibleDiv {
    height: 130px;
  }
  #welcome {
    padding: 15px;
    font-size: 1.3em;
  }
  #small-section {
    font-size: 0.7em;
    height: 80px;
  }
  #small-sentence {
    padding: 28px 70px;
    font-size: 1.4em;
  }
  #adjust-padding-top {
    padding-top: 90px;
  }
  #box-calculator {
    font-size: 0.8em;
    padding: 6px;
    width: 560px;
  }
  footer {
    height: 30px;
    font-size: 0.6em;
    padding-top: 9px;
  }
}

/*iphone4 and iphone5 lanscape*/
@media screen and (max-width: 580px) {
  .general-width {
    width: 95%;
  }
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1em;
  }
  .h2-title-calculator {
    padding-top: 10px;
    font-size: 1.2em;
  }
  .links-nav {
    font-size: 1.1em;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.6;
  }
  #invisibleDiv {
    height: 120px;
  }
  #welcome {
    padding: 15px;
    font-size: 1.2em;
  }
  #small-section {
    font-size: 0.6em;
    height: 80px;
  }
  #small-sentence {
    padding: 24px 40px;
    font-size: 1.3em;
  }
  #adjust-padding-top {
    padding-top: 80px;
  }
  #box-calculator {
    font-size: 0.7em;
    padding: 5px;
    width: 460px;
  }
}

/*iphone6, 6plus and others big screen smarthphones portrait*/
@media screen and (max-width: 430px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1em;
  }
  .h2-title-calculator {
    padding-top: 10px;
    font-size: 1.4em;
  }
  .links-nav {
    font-size: 0.9em;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.6;
    float: left;
  }
  #welcome {
    padding: 15px;
    font-size: 1.1em;
    color: white;
    background-color: rgba(51, 122, 183, 0.5);
  }
  #small-section {
    font-size: 0.6em;
    background-color: rgba($light-green, 0.4);
    height: 80px;
  }
  #box-calculator {
    font-size: 0.5em;
    padding: 3px;
    width: 380px;
  }
  #adjust-padding-top {
    padding-top: 40px;
  }
}

/*iphone4 samsS4 googNex4 and others portrait*/
@media screen and (max-width: 390px) {
  .general-width {
    width: 98%;
    margin: auto;
  }
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 0.8em;
  }
  .h2-title-calculator {
    padding-top: 7px;
    font-size: 1.1em;
  }
  .links-nav {
    font-size: 0.8em;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.8;
  }
  #invisibleDiv {
    height: 100px;
  }
  #welcome {
    padding: 15px;
    font-size: 1.2em;
  }
  #small-section {
    font-size: 0.6em;
    height: 80px;
  }
  #small-sentence {
    padding: 24px 40px;
    font-size: 1.3em;
  }
  #adjust-padding-top {
    padding-top: 80px;
  }
  #box-calculator {
    font-size: 0.6em;
    padding: 5px;
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .button {
    font-size: 9px;
    margin-top: 5px;
    &:hover {
      font-size: 9px;
      margin-top: 5px;
    }
  }
}

/* ----------- END MEDIA QUERIES --------------*/
